[build]
  command = "hugo"
  publish = "public"
[build.environment]
  HUGO_VERSION = "0.154.3"
  PYTHON_VERSION = "3.13"

[context.branch-deploy]
  command = "hugo -F -b $DEPLOY_URL"

[context.deploy-preview]
  command = "hugo -F -b $DEPLOY_URL"

[context.production.environment]
  HUGO_ENV = "production"
