a {
  color: inherit;
  text-decoration: none;
}
.nav-links .active a, .nav-links a:hover, .nav-links a:focus {
  border-bottom: 2px solid #ddd;
  padding-bottom: 2px;
}
#article-nav {
  display: flex;
  align-items: stretch;
  clear: both;
}
#article-nav {
  margin-bottom: 15px;
}
#article-nav-older, #article-nav-newer {
  flex: 1;
}
#article-nav-newer {
  text-align: right;
}
.article-nav-link-wrap {
  display: block;
  text-decoration: none;
}

.content {
  max-width: 800px;
  background-color: white;
}
body { 
  background-color: white; 
}
.article-author {
  font-size: 25px;
  color: #222;
  margin: 10px 0 0 0;
  line-height: 1.3;
}
.article-metadata {
  color: #ccc;
}

/* 说明、警告、注意、提示、声明*/
div.sidebar {
  border: 1px solid #ccc;
}

div.rmdwarn {
  border: 1px solid #EA4335;
}

div.rmdnote {
  border: 1px solid #FBBC05;
}

div.rmdtip {
  border: 1px solid #34A853;
}

div.sidebar, div.rmdwarn, div.rmdnote, div.rmdtip {
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

div.rmdwarn::before, div.rmdnote::before, div.rmdtip::before {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

div.rmdwarn::before {
  content: "警告";
  color: #EA4335;
}

div.rmdnote::before {
  content: "注意";
  color: #FBBC05;
}

div.rmdtip::before {
  content: "提示";
  color: #34A853;
}

div.rmdinfo {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
div.rmdinfo::before {
  content: "声明";
  color: block;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

/* 全宽图片 */
.full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.full-width .caption .figcaption {
  text-align: center;
}

/* 图片居中 */
div.img, div.figure, div.float {
  text-align: center;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

/* 格言警句、诗词歌赋 */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

/* 双栏对比 */
.columns {
  display: flex;
}

/* Format the LaTeX symbol correctly (a higher up, e lower) */
.latex span:nth-child(1) {
  text-transform: uppercase;
  font-size: 0.75em;
  vertical-align: 0.28em;
  margin-left: -0.48em;
  margin-right: -0.15em;
  line-height: 1ex;
}

.latex span:nth-child(2) {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  line-height: 1ex;
}

/* 代码按钮 */
#toggle-all {
  cursor: pointer;
}
summary {
  border-bottom: 1px solid #ddd;
}

/* https://github.com/rstudio/bookdown/blob/main/inst/templates/default.html#L89-L113 */
/* Used with Pandoc 2.11+ new --citeproc when CSL is used */
div.csl-bib-body { }
div.csl-entry {
  clear: both;
}
.hanging div.csl-entry {
  margin-left: 2em;
  text-indent: -2em;
}
div.csl-left-margin {
  min-width: 2em;
  float: left;
}
div.csl-right-inline {
  margin-left: 1em;
  padding-left: 1em;
}
div.csl-indent {
  margin-left: 1em;
}
del {
  background-color: #444;
}
del:hover {
  background-color: inherit;
  text-decoration: inherit;
}
