{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    {{ if eq .Section "post" }}
    <span class="article-duration">预计阅读 </span>
    {{ end }}

    {{ if eq .Section "daily" }}
    <span class="article-duration">预计阅读 </span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>
    {{ if .Params.author }}      
      <h3 class="article-author">{{ .Params.author }}</h3>
    {{ end }}
    
    {{ if .Params.categories }}
      <span class="article-metadata">分类:
      {{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
      </span>
      <br>
    {{ end }}
    {{ if .Params.tags }}
      <span class="article-metadata">标签:
      {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
      </span>
      <br>
    {{ end }} 
    
    {{ if eq .Section "post" }}
    <span class="article-date">日期: {{ .Date.Format "2006/01/02" }}</span>
    <br>
    <span class="article-metadata article-wordcount">字数: </span>
    {{ end }}

    {{ if eq .Section "daily" }}
    <span class="article-date">日期: {{ .Date.Format "2006/01/02" }}</span>
    <br>
    <span class="article-metadata article-wordcount">字数: </span>
    {{ end }}
    
    <br>
    {{ if .File.Path }}
    
    {{ $Rmd := (print .File.BaseFileName ".Rmd") }}
    
    {{ if (where (readDir (print "content/" .File.Dir)) "Name" $Rmd) }}
      {{ $.Scratch.Set "FilePath" (print .File.Dir $Rmd) }}
    {{ else }}
      {{ $.Scratch.Set "FilePath" .File.Path }}
    {{ end }}
    
    {{ with .Site.Params.GithubEdit}}
    <span class="article-metadata">编辑: 
    <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'><i class="fa fa-edit" aria-hidden="true" title="编辑本页" style="color:#ccc"></i></a>
    </span>
    {{ end }}
    
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
    
    {{ partial "prev_next.html" . }}
    
  </article>

  {{ partial "comments.html" .}}

</main>

{{ partial "footer.html" . }}
