<script async src="/js/math-code.js"></script>
<script async src="/js/center-img.js"></script>

<footer>
{{ partial "foot_custom.html" . }}
<div class="footer">
  <ul class="menu">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL | relURL }}"><span data-hover="{{ .Name }}">{{ .Name }}</span></a></li>
    {{ end }}
  </ul>
  {{ with .Site.Params.footer }}
  <div class="copyright">{{ . | markdownify }}</div>
  {{ end }}
</div>
</footer>

{{ if and (not .Params.disable_mathjax) (or (in (string .Content) "\\") (in (string .Content) "$")) }}
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ end }}

{{ if and (not .Params.disable_highlight) (in (string .Content) "</pre>") }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>
hljs.configure({languages: ["r", "yaml", "tex"]});
hljs.initHighlightingOnLoad();
</script>
{{ end }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115387038-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115387038-3');
</script>

</body>
</html>
